<h1>Welcome to our Yacht Booking Page</h1>

<%= link_to "Discover our Yachts", yachts_path, class: "btn btn-primary" %>

<% if user_signed_in? %>
  <%= puts "User is signed in!" %>
  <% @yachts.each do |yacht| %>
    <div>
      <h2><%= yacht.name %></h2>
      <p><%= yacht.description %></p>
      <%= image_tag(yacht.image_url, alt: yacht.name, width: 300) %>
      <%= link_to "View Details", yacht_path(yacht) %>

      <% if current_user == yacht.user %>
        <%= link_to "Edit Yacht", edit_yacht_path(yacht) %>
        <%= link_to "Delete Yacht", yacht_path(yacht), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  <% end %>
<% end %>
